<a href="https://colab.research.google.com/github/Sparsha2708/Value-Inc.-Dashboard/blob/main/valueinc_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#file name=pd.read_csv('file.csv')--format of read csv
data=pd.read_csv('/content/drive/MyDrive/python and tableau course/proj 1/transaction2.csv')
#comma separated values
#this file has no , it has ; so should change initially has almost million rows and 1 freaking column

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/python and tableau course/proj 1/transaction2.csv',sep=";")
#now has 13 columns
#dataframe is table

In [ ]:
#summarise data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
dtypes: float64(2), int64(6), object(5)
memory usage: 103.9+ MB

In [ ]:
#access colum-- variable=dataframe['column_name']
cp=data['CostPerItem']
n=data['NumberOfItemsPurchased']
sp=data['SellingPricePerItem']
profit=sp-cp

In [ ]:
profit_transaction=n*profit
cp_transaction=n*cp
sp_transaction=n*sp

In [ ]:
cp_transaction=cp*n
print(type(cp_transaction))

<class 'pandas.core.series.Series'>

In [ ]:
#adding new column to data frame
data['CostPerTransaction']=cp_transaction

In [ ]:
data['SalesPerTransaction']=sp_transaction
print(type(data['SalesPerTransaction']))

<class 'pandas.core.series.Series'>

In [ ]:
markup=(sp_transaction-cp_transaction)/cp_transaction
profit_transaction=sp_transaction-cp_transaction

In [ ]:
data['ProfitPerTransaction']=profit_transaction
data['Markup']=markup

In [ ]:
#rounding markup
data['Markup']=round(markup,2)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
 13  CostPerTransaction      1047588 non-null  float64
 14  SalesPerTransaction     1047588 non-null  float64
 15  ProfitPerTransaction    1047588 non-null  float64
 16  Markup                  1042743 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 135.9+ MB

In [ ]:
#combining datafields
my_data=str(data['Day'])+'-'+str(data['Month'])+'-'+str(data['Year'])
print(data['Day'].dtype)

int64

In [ ]:
day=data['Day'].astype(str)
#Day=str(data['Day'])
#print(type(Day))
year=data['Year'].astype(str)
print(day.dtype)

object

In [ ]:
my_date=day+'-'+data['Month']+'-'+year
data['date']=my_date
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
 13  CostPerTransaction      1047588 non-null  float64
 14  SalesPerTransaction     1047588 non-null  float64
 15  ProfitPerTransaction    1047588 non-null  float64
 16  Markup                  1042743 non-null  float64
 17  date                    1047588 non-null  object
dtypes: float64(6), int64(6), object(6)
memory usage: 143.9+ MB

In [ ]:
data.iloc[0]
#iloc splits data into subset of data that we can view
#views row with index=0
data.iloc[0:3]

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransaction,SalesPerTransaction,ProfitPerTransaction,Markup,date
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38,126.66,56.28,0.8,2-Feb-2019
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']",10.56,11.61,1.05,0.1,26-Dec-2018
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80,116.64,51.84,0.8,15-Feb-2019

In [ ]:
data.iloc[-5:]

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransaction,SalesPerTransaction,ProfitPerTransaction,Markup,date
1047583,343560,6386952,2019,Feb,16,08:16:00,450030,SET/3 RED GINGHAM ROSE STORAGE BOX,3,5.18,8.29,United Kingdom,"['Middle Age', 'Corporation', 'New Client']",15.54,24.87,9.33,0.6,16-Feb-2019
1047584,276528,6316717,2019,Jan,15,08:56:00,1732143,WOOD 2 DRAWER CABINET WHITE FINISH,6,9.60,10.56,United Kingdom,"['Middle Age', 'Small Business', 'Loyal Client']",57.60,63.36,5.76,0.1,15-Jan-2019
1047585,341082,6140585,2018,Sep,8,10:41:00,487326,LUNCH BAG APPLE DESIGN,15,2.28,2.51,United Kingdom,"['Young Adult', 'Corporation', 'New Client']",34.20,37.65,3.45,0.1,8-Sep-2018
1047586,336147,6075190,2018,Jul,20,09:32:00,460509,JUMBO BAG PINK VINTAGE PAISLEY,3,2.88,5.18,United Kingdom,"['Senior', 'Solo Entrepreneur', 'Loyal Client']",8.64,15.54,6.90,0.8,20-Jul-2018
1047587,-1,6180020,2018,Oct,10,12:00:00,473739,SEASIDE FLYING DISC,6,3.40,6.12,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",20.40,36.72,16.32,0.8,10-Oct-2018

In [ ]:
data.head(5)#gives 1st 5 rows

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransaction,SalesPerTransaction,ProfitPerTransaction,Markup,date
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38,126.66,56.28,0.8,2-Feb-2019
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']",10.56,11.61,1.05,0.1,26-Dec-2018
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80,116.64,51.84,0.8,15-Feb-2019
3,380478,6044973,2018,Jun,22,07:14:00,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,1.90,United Kingdom,"['Middle Age', 'Small Business', 'New Client']",5.19,5.70,0.51,0.1,22-Jun-2018
4,-1,6143225,2018,Sep,10,11:58:00,1733592,WASHROOM METAL SIGN,3,3.40,5.78,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",10.20,17.34,7.14,0.7,10-Sep-2018

In [ ]:
data.iloc[:,2]#represents all rows n column 2

0          2019
1          2018
2          2019
3          2018
4          2018
           ...
1047583    2019
1047584    2019
1047585    2018
1047586    2018
1047587    2018
Name: Year, Length: 1047588, dtype: int64

In [ ]:
#using split to split the client keyword fields
#new_var=column.str.split("sep",expand=True) expand=true means it splits all items
split_col=data['ClientKeywords'].str.split(',',expand=True)

In [ ]:
#creating new columns for the split columns in client keywords
data['CleintAge']=split_col[0]
data['ClientType']=split_col[1]
data['Lengthofcontract']=split_col[2]

In [ ]:
#using replace to replace[] in client details
data['CleintAge']=data['CleintAge'].str.replace('[','')
data['Lengthofcontract']=data['Lengthofcontract'].str.replace(']','')

In [ ]:
#convert to lower case
data['ItemDescription']=data['ItemDescription'].str.lower()

In [ ]:
seasons=pd.read_csv('/content/drive/MyDrive/python and tableau course/proj 1/value_inc_seasons.csv',sep=';')
#merging files:
#merge_df=pd.merge(df_old,df_new,on='key')

In [ ]:
data=pd.merge(data,seasons,on='Month')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 22 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
 13  CostPerTransaction      1047588 non-null  float64
 14  SalesPerTransaction     1047588 non-null  float64
 15  ProfitPerTransaction    1047588 non-null  float64
 16  Markup                  1042743 non-null  float64
 17  date                    1047588 non-null  object
 18  CleintAge               1047588 non-null  object
 19  ClientType              1047588 non-null  object
 20  Lengthofcontract        1047588 non-null  object
 21  Season                  1047588 non-null  object
dtypes: float64(6), int64(6), object(10)
memory usage: 175.8+ MB

In [ ]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   12 non-null     object
 1   Season  12 non-null     object
dtypes: object(2)
memory usage: 324.0+ bytes

In [ ]:
#to drop columns(delete)
#df.drop(columns=["age", "address"], inplace=True,axis=1?)
#to rename columns
#df.rename(columns={"old_name": "new_name"}, inplace=True)

In [ ]:
data = data.drop(['ClientKeywords','Year','Day','Month'],axis=1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Time                    1047588 non-null  object
 3   ItemCode                1047588 non-null  int64
 4   ItemDescription         1044797 non-null  object
 5   NumberOfItemsPurchased  1047588 non-null  int64
 6   CostPerItem             1047588 non-null  float64
 7   SellingPricePerItem     1047588 non-null  float64
 8   Country                 1047588 non-null  object
 9   CostPerTransaction      1047588 non-null  float64
 10  SalesPerTransaction     1047588 non-null  float64
 11  ProfitPerTransaction    1047588 non-null  float64
 12  Markup                  1042743 non-null  float64
 13  date                    1047588 non-null  object
 14  CleintAge               1047588 non-null  object
 15  ClientType              1047588 non-null  object
 16  Lengthofcontract        1047588 non-null  object
 17  Season                  1047588 non-null  object
dtypes: float64(6), int64(4), object(8)
memory usage: 143.9+ MB

In [ ]:
#export to csv
data.to_csv('ValueIncCleaned2.csv',index=False)
#index=True means index column will also be stored false means it wont